/* CSS files add styling rules to your content */

html {
    --background-white: #fff;
    --border-color: #e6ecf0;
    -webkit-tap-highlight-color: transparent;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--background-white);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    margin: 0 auto;
    padding: 0;
  }
  
  a {
    background: linear-gradient(
      141.27deg,
      #ff904e -4.24%,
      #ff5982 21.25%,
      #ec68f4 44.33%,
      #79e2ff 83.46%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
  }
  
  .page {
    background-color: var(--background-white);
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }
  
  .content-header {
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
    padding: 0px 20px;
    font-weight: 600;
    position: sticky;
    line-height: 1.5;
    top: 0;
    z-index: 1;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .content-section {
    margin: 0 auto;
    padding: 0 20px;
  }
  


  .sidebar {
    background-color: var(--background-white);
    border: 0;
    border-right: 1px solid var(--border-color);
    height: 100%;
    width: 100%;
    max-width: 300px;
    min-height: 100vh;
    z-index: 2;
  }
  
  .sidebar-inner {
    background-color: var(--background-white);
    border: 0;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    bottom: 0;
    max-width: 300px;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  
  .sidebar-top {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    border-bottom: 0.8px solid var(--border-color);
    padding: 20px 15px;
    height: 100%;
    max-height: 94px;
  }
  
  .sidebar-avatar {
    margin-right: 10px;
    border: 0.8px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
  }
  
  .sidebar-name {
    font-size: 16px;
    color: #14171a;
    font-weight: 600;
  }
  
  .sidebar-email,
  .sidebar-email-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .sidebar-email {
    color: #657786;
    font-size: 13.5px;
    margin: 2px 0;
  }
  
  .nav-item {
    background: linear-gradient(
      270.97deg,
      #ffe580 -21.36%,
      #ff7571 -2.45%,
      #ea5dad 26.84%,
      #c2a0fd 64.15%,
      #3bf0e4 108.29%,
      #b2f4b6 159.03%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
  }
  
  .nav-item:hover {
    background: linear-gradient(
      141.27deg,
      #ff904e -4.24%,
      #ff5982 21.25%,
      #ec68f4 44.33%,
      #79e2ff 83.46%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav-active {
    background: linear-gradient(
      141.27deg,
      #ff904e -4.24%,
      #ff5982 21.25%,
      #ec68f4 44.33%,
      #79e2ff 83.46%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .content {
    width: 100%;
  }
  
  .toggle-icon {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid #e1e4e8;
    border: 1px solid var(--border-color);
    cursor: pointer;
    z-index: 1000;
    margin-right: 15px;
    font-weight: 600;
  }
  
  @media (max-width: 768px) {
    .sidebar,
    .sidebar-inner {
      position: fixed;
      max-width: 100%;
    }
  }
  
  @media (max-width: 799px) {
    .toggle-icon {
      display: flex;
    }
  }
  