@charset "UTF-8";
*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	overflow-x: hidden;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	line-height: 1.6;
	font-size: 14.5px;
	--atomic-primary: #6495ED;
	--atomic-secondary: #8A2BE2;
	--atomic-tertiary: #8FBc8F;
	--atomic-lightgray: #f5f5f5;
	--atomic-gray: #c0c0c0;
	--atomic-darkgray:#708090;
	--atomic-dark: #2e353c;
	--atomic-light: #f7f7f7;
	--atomic-white: #ffffff;
	--atomic-black: #000000;
	--atomic-transparent: transparent;
	--atomic-link: #3366cc;
	--atomic-link-hover: #009df9;
	--atomic-link-active: #037dc4;
	--atomic-font-family-primary: 'Space Grotesk', sans-serif;
	--atomic-font-family-1: Arial,Helvetica,sans-serif;
	--atomic-font-family-2: tahoma,Verdana,sans-serif;
	--atomic-font-family-3: Georgia,serif;
	--atomic-font-family-4: Garamond,serif;
	--atomic-font-family-5: "courier New",courier,monospace;
	--atomic-font-family-6: "Brush Script mt",cursive;
	--atomic-font-family-7: copperplate,Papyrus,fantasy;
	--atomic-block: block;
	--atomic-grid: grid;
	--atomic-flex: flex;
	--atomic-inline: inline;
	--atomic-inline-block: inline-block;
	--atomic-inline-grid: inline-grid;
	--atomic-inline-flex: inline-flex;
	--atomic-nowrap: nowrap;
	--atomic-wrap: wrap;
	--atomic-column: column;
	--atomic-row: row;
	--atomic-flex-start: flex-start;
	--atomic-flex-end: flex-end;
	--atomic-space-around: space-around;
	--atomic-space-between: space-between;
	--atomic-baseline: baseline;
	--atomic-stretch: stretch;
	--atomic-center: center;
	--atomic-left: left;
	--atomic-right: right;
	--atomic-auto: auto;
	--atomic-none: none;
	--atomic-0: 0;
	--atomic-1: 1;
	--atomic-2: 2;
	--atomic-3: 3;
	--atomic-4: 4;
	--atomic-5: 5;
	--atomic-6: 6;
	--atomic-7: 7;
	--atomic-8: 8;
	--atomic-9: 9;
	--atomic-10: 10;
	--atomic-11: 11;
	--atomic-12: 12;
	--atomic-13: 13;
	--atomic-14: 14;
	--atomic-15: 15;
	--atomic-16: 16;
	--atomic-17: 17;
	--atomic-18: 18;
	--atomic-19: 19;
	--atomic-20: 20;
	--atomic-21: 21;
	--atomic-22: 22;
	--atomic-23: 23;
	--atomic-24: 24;
	--atomic-25: 25;
	--atomic-26: 26;
	--atomic-27: 27;
	--atomic-28: 28;
	--atomic-29: 29;
	--atomic-30: 30;
	--atomic-31: 31;
	--atomic-32: 32;
	--atomic-40: 40;
	--atomic-48: 48;
	--atomic-56: 56;
	--atomic-64: 64;
	--atomic-72: 72;
	--atomic-84: 84;
	--atomic-96: 96;
	--atomic-100: 100;
	--atomic-200: 200;
	--atomic-300: 300;
	--atomic-400: 400;
	--atomic-500: 500;
	--atomic-600: 600;
	--atomic-0-1: 0.1;
    --atomic-0-2: 0.2;
    --atomic-0-3: 0.3;
    --atomic-0-4: 0.4;
    --atomic-0-5: 0.5;
    --atomic-0-6: 0.6;
    --atomic-0-7: 0.7;
    --atomic-0-8: 0.8;
	--atomic-0-9: 0.9;
	--atomic-1-1: 1.1;
	--atomic-1-2: 1.2;
	--atomic-1-3: 1.3;
	--atomic-1-4: 1.4;
	--atomic-1-5: 1.5;
	--atomic-1-6: 1.6;
	--atomic-1-4: 1.4;
	--atomic-1-6: 1.6;
	--atomic-1-7: 1.7;
	--atomic-1-8: 1.8;
	--atomic-1-9: 1.9;
	--atomic-2-1: 2.1;
	--atomic-2-2: 2.2;
	--atomic-2-3: 2.3;
	--atomic-2-4: 2.4;
	--atomic-2-5: 2.5;
	--atomic-2-6: 2.6;
	--atomic-2-4: 2.4;
	--atomic-2-6: 2.6;
	--atomic-2-7: 2.7;
	--atomic-2-8: 2.8;
	--atomic-2-9: 2.9;
	--atomic-05px: 0.5px;
	--atomic-1px: 1px;
	--atomic-2px: 2px;
	--atomic-3px: 3px;
	--atomic-4px: 4px;
	--atomic-5px: 5px;
	--atomic-6px: 6px;
	--atomic-7px: 7px;
	--atomic-8px: 8px;
	--atomic-9px: 9px;
	--atomic-10px: 10px;
	--atomic-11px: 11px;
	--atomic-12px: 12px;
	--atomic-13px: 13px;
	--atomic-14px: 14px;
	--atomic-15px: 15px;
	--atomic-16px: 16px;
	--atomic-17px: 17px;
	--atomic-18px: 18px;
	--atomic-19px: 19px;
	--atomic-20px: 20px;
	--atomic-21px: 21px;
	--atomic-22px: 22px;
	--atomic-23px: 23px;
	--atomic-24px: 24px;
	--atomic-25px: 25px;
	--atomic-26px: 26px;
	--atomic-27px: 27px;
	--atomic-28px: 28px;
	--atomic-29px: 29px;
	--atomic-30px: 30px;
	--atomic-31px: 31px;
	--atomic-32px: 32px;
	--atomic-48px: 48px;
	--atomic-56px: 56px;
	--atomic-64px: 64px;
	--atomic-72px: 72px;
	--atomic-84px: 84px;
	--atomic-90px: 90px;
	--atomic-96px: 96px;
	--atomic-100px: 100px;
	--atomic-150px: 150px;
	--atomic-200px: 200px;
	--atomic-250px: 250px;
	--atomic-300px: 300px;
	--atomic-350px: 350px;
	--atomic-400px: 400px;
	--atomic-450px: 450px;
	--atomic-499px: 499px;
	--atomic-768px: 768px;
	--atomic-1024px: 1024px;
	--atomic-1268px: 1268px;
	--atomic-1366px: 1366px;
	--atomic-1rem: 1rem;
	--atomic-2rem: 2rem;
	--atomic-3rem: 3rem;
	--atomic-4rem: 4rem;
	--atomic-5rem: 5rem;
	--atomic-6rem: 6rem;
	--atomic-7rem: 7rem;
	--atomic-8rem: 8rem;
	--atomic-9rem: 9rem;
	--atomic-10rem: 10rem;
	--atomic-0pct: 0%;
	--atomic-10pct: 10%;
	--atomic-20pct: 20%;
	--atomic-30pct: 30%;
	--atomic-40pct: 40%;
	--atomic-50pct: 50%;
	--atomic-60pct: 60%;
	--atomic-70pct: 70%;
	--atomic-80pct: 80%;
	--atomic-90pct: 90%;
	--atomic-100pct: 100%;
	--atomic-100vh: 100vh;
	--atomic-solid: solid;
	--atomic-dotted: dotted;
	--atomic-double: double;
    --atomic-cover: cover;
    --atomic-contain: contain;
	--atomic-pointer: pointer;

	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto color Emoji";
}

.button {
	display: var(--atomic-inline-block);
	color: var(--atomic-dark);
	text-decoration: var(--atomic-none);
	cursor: var(--atomic-pointer);
	-webkit-user-select: var(--atomic-none);
	-moz-user-select: var(--atomic-none);
	user-select: var(--atomic-none);
	background-color: var(--atomic-transparent);
	border: var(--atomic-solid-1px) var(--atomic-transparent);
	padding: var(--atomic-8px);
	border-radius: var(--atomic-4px);
	background-color: var(--atomic-background-color);
	color: var(--atomic-white);
	transition: var(--atomic-all) var(--atomic-ease-in-out) var(--atomic-15-s);
} 

.i\(c\) {
	display: var(--atomic-grid);
	place-items: var(--atomic-center);
	justify-content: var(--atomic-center);
	align-items: var(--atomic-center);
	text-align: var(--atomic-center);
	margin: var(--atomic-auto);
} 

.f\(c\) {
	display: var(--atomic-flex);
	justify-content: var(--atomic-center);
	align-items: var(--atomic-center);
} 
.f\(wr\) {
	display: var(--atomic-flex);
	justify-content: var(--atomic-center);
	align-items: var(--atomic-center);
	flex-wrap: var(--atomic-wrap);
} 

.f\(sb\) {
	display: var(--atomic-flex);
	justify-content: var(--atomic-space-between);
	align-items: var(--atomic-center);
} 
.f\(sa\) {
	display: var(--atomic-flex);
	justify-content: var(--atomic-space-around);
	align-items: var(--atomic-center);
} 

.g\(c\)  {
	display: var(--atomic-grid);
	place-items: var(--atomic-center);
} 

[class*="ai("]          { align-items: var(--atomic-align-items) }
	.ai\(fs\)           { --atomic-align-items: var(--atomic-flex-start) }
	.ai\(fe\)           { --atomic-align-items: var(--atomic-flex-end) }
	.ai\(bs\)           { --atomic-align-items: var(--atomic-baseline) }
	.ai\(st\)           { --atomic-align-items: var(--atomic-stretch) }
	.ai\(c\)            { --atomic-align-items: var(--atomic-center) }
[class*="bg("]			{ background-color: var(--atomic-background-color) }
	.bg\(primary\)      { --atomic-background-color: var(--atomic-primary) }
	.bg\(secondary\)    { --atomic-background-color: var(--atomic-secondary) }
	.bg\(tertiary\)     { --atomic-background-color: var(--atomic-tertiary) }
	.bg\(dark\)         { --atomic-background-color: var(--atomic-dark) }
	.bg\(light\)        { --atomic-background-color: var(--atomic-light) }
	.bg\(darkgray\)     { --atomic-background-color: var(--atomic-darkgray) }
	.bg\(gray\)         { --atomic-background-color: var(--atomic-gray) }
	.bg\(lightgray\)    { --atomic-background-color: var(--atomic-lightgray) }
	.bg\(black\)        { --atomic-background-color: var(--atomic-black) }
	.bg\(white\)        { --atomic-background-color: var(--atomic-white) }
[class*="c("]			{ color: var(--atomic-color) }
	.c\(primary\)       { --atomic-color: var(--atomic-primary) }
	.c\(secondary\)     { --atomic-color: var(--atomic-secondary) }
	.c\(tertiary\)      { --atomic-color: var(--atomic-tertiary) }
	.c\(dark\)         { --atomic-color: var(--atomic-dark) }
	.c\(light\)        { --atomic-color: var(--atomic-light) }
	.c\(lightgray\)    { --atomic-color: var(--atomic-lightgray) }
	.c\(gray\)         { --atomic-color: var(--atomic-gray) }
	.c\(darkgray\)     { --atomic-color: var(--atomic-darkgray) }
	.c\(black\)        { --atomic-color: var(--atomic-black) }
	.c\(white\)        { --atomic-color: var(--atomic-white) }
[class*="D("]			{ display: var(--atomic-display) }
	.D\(inline\) 		{ --atomic-display: var(--atomic-inline) }
	.D\(iflex\) 		{ --atomic-display: var(--atomic-iflex) }
	.D\(iblock\) 		{ --atomic-display: var(--atomic-iblock) }
	.D\(igrid\) 		{ --atomic-display: var(--atomic-igrid) }
	.D\(flex\) 			{ --atomic-display: var(--atomic-flex) }
	.D\(block\) 		{ --atomic-display: var(--atomic-block) }
	.D\(grid\) 			{ --atomic-display: var(--atomic-grid) }
[class*="fwr("]			{ flex-wrap: var(--atomic-flex-wrap) }
	.fwr\(nowrax\) 		{ --atomic-flex-wrap: var(--atomic-nowrap) }
	.fwr\(wrax\) 		{ --atomic-flex-wrap: var(--atomic-wrap) }
[class*="fd("]		    { flex-direction: var(--atomic-flex-direction) }
	.fd\(col\) 		    { --atomic-flex-direction:var(--atomic-column) }
	.fd\(row\) 		    { --atomic-flex-direction:var(--atomic-row) }
[class*="ff("] 			{ font-family: var(--atomic-font-family) }
	.ff\(primary\) 	 		{ --atomic-font-family: var(--atomic-font-family-primary) }
	.ff\(1\) 	 		{ --atomic-font-family: var(--atomic-font-family-1) }
	.ff\(2\) 	 		{ --atomic-font-family: var(--atomic-font-family-2) }
	.ff\(3\) 	 		{ --atomic-font-family: var(--atomic-font-family-3) }
	.ff\(4\) 	 		{ --atomic-font-family: var(--atomic-font-family-4) }
	.ff\(5\) 	 		{ --atomic-font-family: var(--atomic-font-family-5) }
	.ff\(6\) 	 		{ --atomic-font-family: var(--atomic-font-family-6) }
[class*="fw("]			{ font-weight: var(--atomic-font-weight) }
	.fw\(100\) 			{ --atomic-font-weight: var(--atomic-100) }
	.fw\(200\) 			{ --atomic-font-weight: var(--atomic-200) }
	.fw\(300\) 			{ --atomic-font-weight: var(--atomic-300) }
	.fw\(400\) 			{ --atomic-font-weight: var(--atomic-400) }
	.fw\(500\) 			{ --atomic-font-weight: var(--atomic-500) }
	.fw\(600\) 			{ --atomic-font-weight: var(--atomic-600) }
[class*="jc("]		    { justify-content: var(--atomic-justify-content) }
	.jc\(fs\)			{ --atomic-justify-content: var(--atomic-flex-start) }
	.jc\(fe\)  	 		{ --atomic-justify-content: var(--atomic-flex-end) }
	.jc\(sa\) 			{ --atomic-justify-content: var(--atomic-space-around) }
	.jc\(sb\) 			{ --atomic-justify-content: var(--atomic-space-between) }
	.jc\(c\)			{ --atomic-justify-content: var(--atomic-center) }
[class*="p("]			{ padding: var(--atomic-padding) }
	.p\(0\)				{ --atomic-padding: var(--atomic-0) }
	.p\(1r\)			{ --atomic-padding: var(--atomic-1rem) }
	.p\(2r\) 			{ --atomic-padding: var(--atomic-2rem) }
	.p\(3r\)			{ --atomic-padding: var(--atomic-3rem) }
	.p\(4r\)			{ --atomic-padding: var(--atomic-4rem) }
	.p\(5r\) 			{ --atomic-padding: var(--atomic-5rem) }
	.p\(6r\)			{ --atomic-padding: var(--atomic-6rem) }
[class*="Pt("]			{ padding-top: var(--atomic-padding-top) }
	.pt\(0\) 			{ --atomic-padding-top: var(--atomic-0)	}
[class*="Pt("]			{ padding-top: var(--atomic-padding-top) }
	.pt\(1r\) 			{ --atomic-padding-top: var(--atomic-1rem)	}
[class*="pb("]			{ padding-bottom: var(--atomic-padding-bottom) }
	.pb\(0\) 			{ --atomic-padding-bottom: var(--atomic-0)	}
[class*="pb("]			{ padding-bottom: var(--atomic-padding-bottom) }
	.pb\(1r\) 			{ --atomic-padding-bottom: var(--atomic-1rem)	}
[class*="M("]			{ margin: var(--atomic-margin) }
	.M\(a\) 			{ --atomic-margin: var(--atomic-auto) }
	.M\(0\)				{ --atomic-margin: var(--atomic-0) }
	.M\(1r\)			{ --atomic-margin: var(--atomic-1rem) }
	.M\(2r\)			{ --atomic-margin: var(--atomic-2rem) }
	.M\(3r\)			{ --atomic-margin: var(--atomic-3rem) }
	.M\(4r\)			{ --atomic-margin: var(--atomic-4rem) }
	.M\(5r\)			{ --atomic-margin: var(--atomic-5rem) }
	.M\(6r\)			{ --atomic-margin: var(--atomic-6rem) }
[class*="mt("]			{ margin-top: var(--atomic-margin-top) }
	.mt\(0\) 			{ --atomic-margin-top: var(--atomic-0)	}
[class*="mt("]			{ margin-top: var(--atomic-margin-top) }
	.mt\(1r\) 			{ --atomic-margin-top: var(--atomic-1rem)	}
[class*="mb("]			{ margin-bottom: var(--atomic-margin-bottom) }
	.mb\(0\) 			{ --atomic-margin-bottom: var(--atomic-0)	}
[class*="mb("]			{ margin-bottom: var(--atomic-margin-bottom) }
	.mb\(1r\) 			{ --atomic-margin-bottom: var(--atomic-1rem)	}
[class*="ml("]			{ margin-left: var(--atomic-margin-left) }
	.ml\(a\) 			{ --atomic-margin-left: var(--atomic-auto)	}
	.ml\(0\) 			{ --atomic-margin-left: var(--atomic-0)	}
	.ml\(1r\) 			{ --atomic-margin-left: var(--atomic-1rem)	}
	.ml\(2r\) 			{ --atomic-margin-left: var(--atomic-2rem)	}
	.ml\(3r\) 			{ --atomic-margin-left: var(--atomic-3rem)	}
	.ml\(4r\) 			{ --atomic-margin-left: var(--atomic-4rem)	}
	.ml\(5r\) 			{ --atomic-margin-left: var(--atomic-5rem)	}
	.ml\(6r\) 			{ --atomic-margin-left: var(--atomic-6rem)	}
[class*="mr("]			{ margin-right: var(--atomic-margin-right) }
	.mr\(a\) 			{ --atomic-margin-right: var(--atomic-auto) }
	.mr\(0\)			{ --atomic-margin-right: var(--atomic-0) }
	.mr\(1r\)			{ --atomic-margin-right: var(--atomic-1rem) }
	.mr\(2r\)			{ --atomic-margin-right: var(--atomic-2rem) }
	.mr\(3r\)			{ --atomic-margin-right: var(--atomic-3rem) }
	.mr\(4r\)			{ --atomic-margin-right: var(--atomic-4rem) }
	.mr\(5r\)			{ --atomic-margin-right: var(--atomic-5rem) }
	.mr\(6r\)			{ --atomic-margin-right: var(--atomic-6rem) }
[class*="ta("] 			{ text-align: var(--atomic-text-align) }
	.ta\(c\)            { --atomic-text-align:var(--atomic-center) }
	.ta\(r\)            { --atomic-text-align:var(--atomic-right) }
	.ta\(l\)            { --atomic-text-align:var(--atomic-left) }
