*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.section {
    padding: var(--padding);
    --padding: 4rem 0;
}

.section.padding-0 { --padding: 0; }
.section.padding-1 { --padding: 1rem 0; }
.section.padding-2 { --padding: 2rem 0; }
.section.padding-3 { --padding: 3rem 0; }

.grid {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    grid-gap: var(--grid-gap);
    max-width: var(--max-width);
    width: var(--width);
    --max-width: 1366px;
    --width: 100%;
    --grid-gap: 1rem;
    --grid-template-columns: 1fr;
}

.width-70 { --width: 70%; }
.width-80 { --width: 80%; }
.width-90 { --width: 90%; }
.width-100 { --width: 100%; }
.max-width-70 { --max-width: 70%; }
.max-width-80 { --max-width: 80%; }
.max-width-90 { --max-width: 90%; }
.max-width-100 { --max-width: 100%; }
.max-width-768 { --max-width: 768px; }
.max-width-1024 { --max-width: 1024px; }
.max-width-1268 { --max-width: 1268px; }
.max-width-1366 { --max-width: 1366px; }

.gap-0 { --grid-gap: 0; }
.gap-1 { --grid-gap: 1rem; }
.gap-2 { --grid-gap: 2rem; }
.gap-3 { --grid-gap: 3rem; }
.gap-4 { --grid-gap: 4rem; }
.gap-2x { --grid-gap: 2px; }
.gap-4x {--grid-gap: 4px; }
.gap-8x { --grid-gap: 8px; }
.gap-12x { --grid-gap: 12px; }

.grid[class*="column-"] {
    -ms-grid-columns: var(--ms-grid-columns);
    grid-template-columns: var(--grid-template-columns);
}

.row { grid-column: 1 / -1; }

@media (max-width: 576px) {

    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        --ms-grid-columns: 1fr;
        --grid-template-columns: 1fr;
    }

    :is(.column-2, .column-3, .column-4, .column-5, .column-6, .column-7, 
        .column-8, .column-9, .column-10, .column-11, .column-12).first-2 {
        --ms-grid-columns: (1fr)[2];
        --grid-template-columns: repeat(2, 1fr);
    }

    :is(.column-2, .column-3, .column-4, .column-5, .column-6, .column-7, 
        .column-8, .column-9, .column-10, .column-11, .column-12).first-3 {
            --ms-grid-columns: (1fr)[3];
            --grid-template-columns: repeat(3, 1fr);
    }

    :is(.column-2, .column-3, .column-4, .column-5, .column-6, .column-7, 
        .column-8, .column-9, .column-10, .column-11, .column-12).first-4 {
        --ms-grid-columns: (1fr)[4];
        --grid-template-columns: repeat(4, 1fr);
    }

    :is( .column-2.first-2, .column-2.first-3, .column-2.first-4, 
        .column-3.first-2, .column-3.first-3, .column-3.first-4,
        .column-4.first-2, .column-4.first-3, .column-4.first-4,
        .column-5.first-2, .column-5.first-3, .column-5.first-4,
        .column-6.first-2, .column-6.first-3, .column-6.first-4,
        .column-7.first-2, .column-7.first-3, .column-7.first-4,
        .column-8.first-2, .column-8.first-3, .column-8.first-4,
        .column-9.first-2, .column-9.first-3, .column-9.first-4,
        .column-10.first-2, .column-10.first-3, .column-10.first-4,  
        .column-11.first-2, .column-11.first-3, .column-11.first-4,  
        .column-12.first-2, .column-12.first-3, .column-12.first-4 ) 
    > :is(.col, div):last-child {
        grid-column: 1 / -1;
    }

}

@media (min-width: 576px) {

    .column-2,
    .column-5,
    .column-4,
    .column-6,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        --ms-grid-columns: (1fr)[2];
        --grid-template-columns: repeat(2, 1fr);
    }

    .column-2.columns-small-medium,
    .column-2.columns-small-large,
    .column-2.columns-medium-small,
    .column-2.columns-medium-large,
    .column-2.columns-large-small,
    .column-2.columns-large-medium,
    .column-4.columns-small-small-small-medium,
    .column-4.columns-small-small-small-large,
    .column-4.columns-small-small-medium-small,
    .column-4.columns-small-small-medium-medium,
    .column-4.columns-small-small-medium-large,
    .column-4.columns-small-small-large-small,
    .column-4.columns-small-small-large-medium,
    .column-4.columns-small-small-large-large,
    .column-4.columns-small-medium-small-small,
    .column-4.columns-small-medium-small-medium,
    .column-4.columns-small-medium-small-large,
    .column-4.columns-small-medium-medium-small,
    .column-4.columns-small-medium-medium-medium,
    .column-4.columns-small-medium-medium-large,
    .column-4.columns-small-medium-large-small,
    .column-4.columns-small-medium-large-medium,
    .column-4.columns-small-medium-large-large,
    .column-4.columns-small-large-small-small,
    .column-4.columns-small-large-small-medium,
    .column-4.columns-small-large-small-large,
    .column-4.columns-small-large-medium-small,
    .column-4.columns-small-large-medium-medium,
    .column-4.columns-small-large-medium-large,
    .column-4.columns-small-large-large-small,
    .column-4.columns-small-large-large-medium,
    .column-4.columns-small-large-large-large,
    .column-4.columns-medium-small-small-small,
    .column-4.columns-medium-small-small-medium,
    .column-4.columns-medium-small-small-large,
    .column-4.columns-medium-small-medium-small,
    .column-4.columns-medium-small-medium-medium,
    .column-4.columns-medium-small-medium-large,
    .column-4.columns-medium-small-large-small,
    .column-4.columns-medium-small-large-medium,
    .column-4.columns-medium-small-large-large,
    .column-4.columns-medium-medium-small-small,
    .column-4.columns-medium-medium-small-medium,
    .column-4.columns-medium-medium-small-large,
    .column-4.columns-medium-medium-medium-small,
    .column-4.columns-medium-medium-medium-large,
    .column-4.columns-medium-medium-large-small,
    .column-4.columns-medium-medium-large-medium,
    .column-4.columns-medium-medium-large-large,
    .column-4.columns-medium-large-small-small,
    .column-4.columns-medium-large-small-medium,
    .column-4.columns-medium-large-small-large,
    .column-4.columns-medium-large-medium-small,
    .column-4.columns-medium-large-medium-medium,
    .column-4.columns-medium-large-medium-large,
    .column-4.columns-medium-large-large-small,
    .column-4.columns-medium-large-large-medium,
    .column-4.columns-medium-large-large-large,
    .column-4.columns-large-small-small-small,
    .column-4.columns-large-small-small-medium,
    .column-4.columns-large-small-small-large,
    .column-4.columns-large-small-medium-small,
    .column-4.columns-large-small-medium-medium,
    .column-4.columns-large-small-medium-large,
    .column-4.columns-large-small-large-small,
    .column-4.columns-large-small-large-medium,
    .column-4.columns-large-small-large-large,
    .column-4.columns-large-medium-small-small,
    .column-4.columns-large-medium-small-medium,
    .column-4.columns-large-medium-small-large,
    .column-4.columns-large-medium-medium-small,
    .column-4.columns-large-medium-medium-medium,
    .column-4.columns-large-medium-medium-large,
    .column-4.columns-large-medium-large-small,
    .column-4.columns-large-medium-large-medium,
    .column-4.columns-large-medium-large-large,
    .column-4.columns-large-large-small-small,
    .column-4.columns-large-large-small-medium,
    .column-4.columns-large-large-small-large,
    .column-4.columns-large-large-medium-small,
    .column-4.columns-large-large-medium-medium,
    .column-4.columns-large-large-medium-large,
    .column-4.columns-large-large-large-small,
    .column-4.columns-large-large-large-medium {
        --ms-grid-columns: (1fr)[2];
        --grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {

    .column-3,
    .column-6,
    .column-12 {
        --ms-grid-columns: (1fr)[3];
        --grid-template-columns: repeat(3, 1fr);
    }

    .column-4,
    .column-8 {
        --ms-grid-columns: (1fr)[4];
        --grid-template-columns: repeat(4, 1fr);
    }

    .column-5,
    .column-9,
    .column-10,
    .column-11 {
        --ms-grid-columns: (1fr)[5];
        --grid-template-columns: repeat(5, 1fr);
    }

    .column-2.columns-small-medium {
        --grid-template-columns: 1fr 2fr;
    }

    .column-2.columns-small-large {
        --ms-grid-columns: 1fr 3fr;
        --grid-template-columns: 1fr 3fr;
    }

    .column-2.columns-medium-small {
        --ms-grid-columns: 2fr 1fr;
        --grid-template-columns: 2fr 1fr;
    }

    .column-2.columns-medium-large {
        --ms-grid-columns: 2fr 3fr;
        --grid-template-columns: 2fr 3fr;
    }

    .column-2.columns-large-small {
        --ms-grid-columns: 3fr 1fr;
        --grid-template-columns: 3fr 1fr;
    }

    .column-2.columns-large-medium {
        --ms-grid-columns: 3fr 2fr;
        --grid-template-columns: 3fr 2fr;
    }

    .column-3.columns-small-small-medium {
        --ms-grid-columns: 1fr 1fr 2fr;
        --grid-template-columns: 1fr 1fr 2fr;
    }

    .column-3.columns-small-small-large {
        --ms-grid-columns: 1fr 1fr 3fr;
        --grid-template-columns: 1fr 1fr 3fr;
    }

    .column-3.columns-small-medium-small {
        --ms-grid-columns: 1fr 2fr 1fr;
        --grid-template-columns: 1fr 2fr 1fr;
    }

    .column-3.columns-small-medium-medium {
        --ms-grid-columns: 1fr 2fr 2fr;
        --grid-template-columns: 1fr 2fr 2fr;
    }

    .column-3.columns-small-medium-large {
        --ms-grid-columns: 1fr 2fr 3fr;
        --grid-template-columns: 1fr 2fr 3fr;
    }

    .column-3.columns-small-large-small {
        --ms-grid-columns: 1fr 3fr 1fr;
        --grid-template-columns: 1fr 3fr 1fr;
    }

    .column-3.columns-small-large-medium {
        --ms-grid-columns: 1fr 3fr 2fr;
        --grid-template-columns: 1fr 3fr 2fr;
    }

    .column-3.columns-small-large-large {
        --ms-grid-columns: 1fr 3fr 3fr;
        --grid-template-columns: 1fr 3fr 3fr;
    }

    .column-3.columns-medium-small-small {
        --ms-grid-columns: 2fr 1fr 1fr;
        --grid-template-columns: 2fr 1fr 1fr;
    }

    .column-3.columns-medium-small-medium {
        --ms-grid-columns: 2fr 1fr 2fr;
        --grid-template-columns: 2fr 1fr 2fr;
    }

    .column-3.columns-medium-small-large {
        --ms-grid-columns: 2fr 1fr 3fr;
        --grid-template-columns: 2fr 1fr 3fr;
    }

    .column-3.columns-medium-medium-small {
        --ms-grid-columns: 2fr 2fr 1fr;
        --grid-template-columns: 2fr 2fr 1fr;
    }

    .column-3.columns-medium-medium-large {
        --ms-grid-columns: 2fr 2fr 3fr;
        --grid-template-columns: 2fr 2fr 3fr;
    }

    .column-3.columns-medium-large-small {
        --ms-grid-columns: 2fr 3fr 1fr;
        --grid-template-columns: 2fr 3fr 1fr;
    }

    .column-3.columns-medium-large-medium {
        --ms-grid-columns: 2fr 3fr 2fr;
        --grid-template-columns: 2fr 3fr 2fr;
    }

    .column-3.columns-medium-large-large {
        --ms-grid-columns: 2fr 3fr 3fr;
        --grid-template-columns: 2fr 3fr 3fr;
    }

    .column-3.columns-large-small-small {
        --ms-grid-columns: 3fr 1fr 1fr;
        --grid-template-columns: 3fr 1fr 1fr;
    }

    .column-3.columns-large-small-medium {
        --ms-grid-columns: 3fr 1fr 2fr;
        --grid-template-columns: 3fr 1fr 2fr;
    }

    .column-3.columns-large-small-large {
        --ms-grid-columns: 3fr 1fr 3fr;
        --grid-template-columns: 3fr 1fr 3fr;
    }

    .column-3.columns-large-medium-small {
        --ms-grid-columns: 3fr 2fr 1fr;
        --grid-template-columns: 3fr 2fr 1fr;
    }

    .column-3.columns-large-medium-medium {
        --ms-grid-columns: 3fr 2fr 2fr;
        --grid-template-columns: 3fr 2fr 2fr;
    }

    .column-3.columns-large-medium-large {
        --ms-grid-columns: 3fr 2fr 3fr;
        --grid-template-columns: 3fr 2fr 3fr;
    }

    .column-3.columns-large-large-small {
        --ms-grid-columns: 3fr 3fr 1fr;
        --grid-template-columns: 3fr 3fr 1fr;
    }

    .column-3.columns-large-large-medium {
        --ms-grid-columns: 3fr 3fr 2fr;
        --grid-template-columns: 3fr 3fr 2fr;
    }

    .column-4.columns-small-small-small-medium {
        --ms-grid-columns: 1fr 1fr 1fr 2fr;
        --grid-template-columns: 1fr 1fr 1fr 2fr;
    }

    .column-4.columns-small-small-small-large {
        --ms-grid-columns: 1fr 1fr 1fr 3fr;
        --grid-template-columns: 1fr 1fr 1fr 3fr;
    }

    .column-4.columns-small-small-medium-small {
        --ms-grid-columns: 1fr 1fr 2fr 1fr;
        --grid-template-columns: 1fr 1fr 2fr 1fr;
    }

    .column-4.columns-small-small-medium-medium {
        --ms-grid-columns: 1fr 1fr 2fr 2fr;
        --grid-template-columns: 1fr 1fr 2fr 2fr;
    }

    .column-4.columns-small-small-medium-large {
        --ms-grid-columns: 1fr 1fr 2fr 3fr;
        --grid-template-columns: 1fr 1fr 2fr 3fr;
    }

    .column-4.columns-small-small-large-small {
        --ms-grid-columns: 1fr 1fr 3fr 1fr;
        --grid-template-columns: 1fr 1fr 3fr 1fr;
    }

    .column-4.columns-small-small-large-medium {
        --ms-grid-columns: 1fr 1fr 3fr 2fr;
        --grid-template-columns: 1fr 1fr 3fr 2fr;
    }

    .column-4.columns-small-small-large-large {
        --ms-grid-columns: 1fr 1fr 3fr 3fr;
        --grid-template-columns: 1fr 1fr 3fr 3fr;
    }

    .column-4.columns-small-medium-small-small {
        --ms-grid-columns: 1fr 2fr 1fr 1fr;
        --grid-template-columns: 1fr 2fr 1fr 1fr;
    }

    .column-4.columns-small-medium-small-medium {
        --ms-grid-columns: 1fr 2fr 1fr 2fr;
        --grid-template-columns: 1fr 2fr 1fr 2fr;
    }

    .column-4.columns-small-medium-small-large {
        --ms-grid-columns: 1fr 2fr 1fr 3fr;
        --grid-template-columns: 1fr 2fr 1fr 3fr;
    }

    .column-4.columns-small-medium-medium-small {
        --ms-grid-columns: 1fr 2fr 2fr 1fr;
        --grid-template-columns: 1fr 2fr 2fr 1fr;
    }

    .column-4.columns-small-medium-medium-medium {
        --ms-grid-columns: 1fr 2fr 2fr 2fr;
        --grid-template-columns: 1fr 2fr 2fr 2fr;
    }

    .column-4.columns-small-medium-medium-large {
        --ms-grid-columns: 1fr 2fr 2fr 3fr;
        --grid-template-columns: 1fr 2fr 2fr 3fr;
    }

    .column-4.columns-small-medium-large-small {
        --ms-grid-columns: 1fr 2fr 3fr 1fr;
        --grid-template-columns: 1fr 2fr 3fr 1fr;
    }

    .column-4.columns-small-medium-large-medium {
        --ms-grid-columns: 1fr 2fr 3fr 2fr;
        --grid-template-columns: 1fr 2fr 3fr 2fr;
    }

    .column-4.columns-small-medium-large-large {
        --ms-grid-columns: 1fr 2fr 3fr 3fr;
        --grid-template-columns: 1fr 2fr 3fr 3fr;
    }

    .column-4.columns-small-large-small-small {
        --ms-grid-columns: 1fr 3fr 1fr 1fr;
        --grid-template-columns: 1fr 3fr 1fr 1fr;
    }

    .column-4.columns-small-large-small-medium {
        --ms-grid-columns: 1fr 3fr 1fr 2fr;
        --grid-template-columns: 1fr 3fr 1fr 2fr;
    }

    .column-4.columns-small-large-small-large {
        --ms-grid-columns: 1fr 3fr 1fr 3fr;
        --grid-template-columns: 1fr 3fr 1fr 3fr;
    }

    .column-4.columns-small-large-medium-small {
        --ms-grid-columns: 1fr 3fr 2fr 1fr;
        --grid-template-columns: 1fr 3fr 2fr 1fr;
    }

    .column-4.columns-small-large-medium-medium {
        --ms-grid-columns: 1fr 3fr 2fr 2fr;
        --grid-template-columns: 1fr 3fr 2fr 2fr;
    }

    .column-4.columns-small-large-medium-large {
        --ms-grid-columns: 1fr 3fr 2fr 3fr;
        --grid-template-columns: 1fr 3fr 2fr 3fr;
    }

    .column-4.columns-small-large-large-small {
        --ms-grid-columns: 1fr 3fr 3fr 1fr;
        --grid-template-columns: 1fr 3fr 3fr 1fr;
    }

    .column-4.columns-small-large-large-medium {
        --ms-grid-columns: 1fr 3fr 3fr 2fr;
        --grid-template-columns: 1fr 3fr 3fr 2fr;
    }

    .column-4.columns-small-large-large-large {
        --ms-grid-columns: 1fr 3fr 3fr 3fr;
        --grid-template-columns: 1fr 3fr 3fr 3fr;
    }

    .column-4.columns-medium-small-small-small {
        --ms-grid-columns: 2fr 1fr 1fr 1fr;
        --grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .column-4.columns-medium-small-small-medium {
        --ms-grid-columns: 2fr 1fr 1fr 2fr;
        --grid-template-columns: 2fr 1fr 1fr 2fr;
    }

    .column-4.columns-medium-small-small-large {
        --ms-grid-columns: 2fr 1fr 1fr 3fr;
        --grid-template-columns: 2fr 1fr 1fr 3fr;
    }

    .column-4.columns-medium-small-medium-small {
        --ms-grid-columns: 2fr 1fr 2fr 1fr;
        --grid-template-columns: 2fr 1fr 2fr 1fr;
    }

    .column-4.columns-medium-small-medium-medium {
        --ms-grid-columns: 2fr 1fr 2fr 2fr;
        --grid-template-columns: 2fr 1fr 2fr 2fr;
    }

    .column-4.columns-medium-small-medium-large {
        --ms-grid-columns: 2fr 1fr 2fr 3fr;
        --grid-template-columns: 2fr 1fr 2fr 3fr;
    }

    .column-4.columns-medium-small-large-small {
        --ms-grid-columns: 2fr 1fr 3fr 1fr;
        --grid-template-columns: 2fr 1fr 3fr 1fr;
    }

    .column-4.columns-medium-small-large-medium {
        --ms-grid-columns: 2fr 1fr 3fr 2fr;
        --grid-template-columns: 2fr 1fr 3fr 2fr;
    }

    .column-4.columns-medium-small-large-large {
        --ms-grid-columns: 2fr 1fr 3fr 3fr;
        --grid-template-columns: 2fr 1fr 3fr 3fr;
    }

    .column-4.columns-medium-medium-small-small {
        --ms-grid-columns: 2fr 2fr 1fr 1fr;
        --grid-template-columns: 2fr 2fr 1fr 1fr;
    }

    .column-4.columns-medium-medium-small-medium {
        --ms-grid-columns: 2fr 2fr 1fr 2fr;
        --grid-template-columns: 2fr 2fr 1fr 2fr;
    }

    .column-4.columns-medium-medium-small-large {
        --ms-grid-columns: 2fr 2fr 1fr 3fr;
        --grid-template-columns: 2fr 2fr 1fr 3fr;
    }

    .column-4.columns-medium-medium-medium-1 {
        --ms-grid-columns: 2fr 2fr 2fr 1fr;
        --grid-template-columns: 2fr 2fr 2fr 1fr;
    }

    .column-4.columns-medium-medium-medium-large {
        --ms-grid-columns: 2fr 2fr 2fr 3fr;
        --grid-template-columns: 2fr 2fr 2fr 3fr;
    }

    .column-4.columns-medium-medium-large-small {
        --ms-grid-columns: 2fr 2fr 3fr 1fr;
        --grid-template-columns: 2fr 2fr 3fr 1fr;
    }

    .column-4.columns-medium-medium-large-medium {
        --ms-grid-columns: 2fr 2fr 3fr 2fr;
        --grid-template-columns: 2fr 2fr 3fr 2fr;
    }

    .column-4.columns-medium-medium-large-large {
        --ms-grid-columns: 2fr 2fr 3fr 3fr;
        --grid-template-columns: 2fr 2fr 3fr 3fr;
    }

    .column-4.columns-medium-large-small-small {
        --ms-grid-columns: 2fr 3fr 1fr 1fr;
        --grid-template-columns: 2fr 3fr 1fr 1fr;
    }

    .column-4.columns-medium-large-small-medium {
        --ms-grid-columns: 2fr 3fr 1fr 2fr;
        --grid-template-columns: 2fr 3fr 1fr 2fr;
    }

    .column-4.columns-medium-large-small-large {
        --ms-grid-columns: 2fr 3fr 1fr 3fr;
        --grid-template-columns: 2fr 3fr 1fr 3fr;
    }

    .column-4.columns-medium-large-medium-small {
        --ms-grid-columns: 2fr 3fr 2fr 1fr;
        --grid-template-columns: 2fr 3fr 2fr 1fr;
    }

    .column-4.columns-medium-large-medium-medium {
        --ms-grid-columns: 2fr 3fr 2fr 2fr;
        --grid-template-columns: 2fr 3fr 2fr 2fr;
    }

    .column-4.columns-medium-large-medium-large {
        --ms-grid-columns: 2fr 3fr 2fr 3fr;
        --grid-template-columns: 2fr 3fr 2fr 3fr;
    }

    .column-4.columns-medium-large-large-small {
        --ms-grid-columns: 2fr 3fr 3fr 1fr;
        --grid-template-columns: 2fr 3fr 3fr 1fr;
    }

    .column-4.columns-medium-large-large-medium {
        --ms-grid-columns: 2fr 3fr 3fr 2fr;
        --grid-template-columns: 2fr 3fr 3fr 2fr;
    }

    .column-4.columns-medium-large-large-large {
        --ms-grid-columns: 2fr 3fr 3fr 3fr;
        --grid-template-columns: 2fr 3fr 3fr 3fr;
    }

    .column-4.columns-large-small-small-small {
        --ms-grid-columns: 3fr 1fr 1fr 1fr;
        --grid-template-columns: 3fr 1fr 1fr 1fr;
    }

    .column-4.columns-large-small-small-medium {
        --ms-grid-columns: 3fr 1fr 1fr 2fr;
        --grid-template-columns: 3fr 1fr 1fr 2fr;
    }

    .column-4.columns-large-small-small-large {
        --ms-grid-columns: 3fr 1fr 1fr 3fr;
        --grid-template-columns: 3fr 1fr 1fr 3fr;
    }

    .column-4.columns-large-small-medium-small {
        --ms-grid-columns: 3fr 1fr 2fr 1fr;
        --grid-template-columns: 3fr 1fr 2fr 1fr;
    }

    .column-4.columns-large-small-medium-medium {
        --ms-grid-columns: 3fr 1fr 2fr 2fr;
        --grid-template-columns: 3fr 1fr 2fr 2fr;
    }

    .column-4.columns-large-small-medium-large {
        --ms-grid-columns: 3fr 1fr 2fr 3fr;
        --grid-template-columns: 3fr 1fr 2fr 3fr;
    }

    .column-4.columns-large-small-large-small {
        --ms-grid-columns: 3fr 1fr 3fr 1fr;
        --grid-template-columns: 3fr 1fr 3fr 1fr;
    }

    .column-4.columns-large-small-large-medium {
        --ms-grid-columns: 3fr 1fr 3fr 2fr;
        --grid-template-columns: 3fr 1fr 3fr 2fr;
    }

    .column-4.columns-large-small-large-large {
        --ms-grid-columns: 3fr 1fr 3fr 3fr;
        --grid-template-columns: 3fr 1fr 3fr 3fr;
    }

    .column-4.columns-large-medium-small-small {
        --ms-grid-columns: 3fr 2fr 1fr 1fr;
        --grid-template-columns: 3fr 2fr 1fr 1fr;
    }

    .column-4.columns-large-medium-small-medium {
        --ms-grid-columns: 3fr 2fr 1fr 2fr;
        --grid-template-columns: 3fr 2fr 1fr 2fr;
    }

    .column-4.columns-large-medium-small-large {
        --ms-grid-columns: 3fr 2fr 1fr 3fr;
        --grid-template-columns: 3fr 2fr 1fr 3fr;
    }

    .column-4.columns-large-medium-medium-small {
        --ms-grid-columns: 3fr 2fr 2fr 1fr;
        --grid-template-columns: 3fr 2fr 2fr 1fr;
    }

    .column-4.columns-large-medium-medium-medium {
        --ms-grid-columns: 3fr 2fr 2fr 2fr;
        --grid-template-columns: 3fr 2fr 2fr 2fr;
    }

    .column-4.columns-large-medium-medium-large {
        --ms-grid-columns: 3fr 2fr 2fr 3fr;
        --grid-template-columns: 3fr 2fr 2fr 3fr;
    }

    .column-4.columns-large-medium-large-small {
        --ms-grid-columns: 3fr 2fr 3fr 1fr;
        --grid-template-columns: 3fr 2fr 3fr 1fr;
    }

    .column-4.columns-large-medium-large-medium {
        --ms-grid-columns: 3fr 2fr 3fr 2fr;
        --grid-template-columns: 3fr 2fr 3fr 2fr;
    }

    .column-4.columns-large-medium-large-large {
        --ms-grid-columns: 3fr 2fr 3fr 3fr;
        --grid-template-columns: 3fr 2fr 3fr 3fr;
    }

    .column-4.columns-large-large-small-small {
        --ms-grid-columns: 3fr 3fr 1fr 1fr;
        --grid-template-columns: 3fr 3fr 1fr 1fr;
    }

    .column-4.columns-large-large-small-medium {
        --ms-grid-columns: 3fr 3fr 1fr 2fr;
        --grid-template-columns: 3fr 3fr 1fr 2fr;
    }

    .column-4.columns-large-large-small-large {
        --ms-grid-columns: 3fr 3fr 1fr 3fr;
        --grid-template-columns: 3fr 3fr 1fr 3fr;
    }

    .column-4.columns-large-large-medium-small {
        --ms-grid-columns: 3fr 3fr 2fr 1fr;
        --grid-template-columns: 3fr 3fr 2fr 1fr;
    }

    .column-4.columns-large-large-medium-medium {
        --ms-grid-columns: 3fr 3fr 2fr 2fr;
        --grid-template-columns: 3fr 3fr 2fr 2fr;
    }

    .column-4.columns-large-large-medium-large {
        --ms-grid-columns: 3fr 3fr 2fr 3fr;
        --grid-template-columns: 3fr 3fr 2fr 3fr;
    }

    .column-4.columns-large-large-large-small {
        --ms-grid-columns: 3fr 3fr 3fr 1fr;
        --grid-template-columns: 3fr 3fr 3fr 1fr;
    }

    .column-4.columns-large-large-large-medium {
        --ms-grid-columns: 3fr 3fr 3fr 2fr;
        --grid-template-columns: 3fr 3fr 3fr 2fr;
    }
}

@media (min-width: 1024px) {

    .column-6,
    .column-12 {
        --ms-grid-columns: (1fr)[6];
        --grid-template-columns: repeat(6, 1fr);
    }

    .column-7 {
        --ms-grid-columns: (1fr)[7];
        --grid-template-columns: repeat(7, 1fr);
    }

    .column-8 {
        --ms-grid-columns: (1fr)[8];
        --grid-template-columns: repeat(8, 1fr);
    }

    .column-9 {
        --ms-grid-columns: (1fr)[9];
        --grid-template-columns: repeat(9, 1fr);
    }

    .column-10 {
        --ms-grid-columns: (1fr)[10];
        --grid-template-columns: repeat(10, 1fr);
    }

    .column-11 {
        --ms-grid-columns: (1fr)[11];
        --grid-template-columns: repeat(11, 1fr);
    }
}

@media (min-width: 1268px) {
    
    .column-12 {
        --ms-grid-columns: (1fr)[12];
        --grid-template-columns: repeat(12, 1fr);
    }
}