*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    --max-width: 1366px;
    --width: 100%;
    --grid-gap: 8px;
    --columns-width: 96px;
    display: -ms-grid;
    display: grid;
    --grid-template-columns: 1fr;
    margin: auto;
    grid-gap: var(--grid-gap);
    padding: 0 var(--grid-gap);
    padding-bottom: var(--grid-gap);
    max-width: var(--max-width);
    width: var(--width);
}


.grid:first-child {
    padding-top: var(--grid-gap);
    padding-bottom: var(--grid-gap);
}

.section {
    --padding: 4rem 0;
    padding: var(--padding);
}

.p\(0\) {
    --padding: 0
}

.p\(1\) {
    --padding: 1rem 0
}

.p\(2\) {
    --padding: 2rem 0
}

.p\(3\) {
    --padding: 3rem 0
}

.w\(50\%\) {
    --width: 50%
}

.w\(60\%\) {
    --width: 60%
}

.w\(70\%\) {
    --width: 70%
}

.w\(80\%\) {
    --width: 80%
}

.w\(90\%\) {
    --width: 90%
}

.w\(100\%\) {
    --width: 100%
}

.mxw\(50\%\) {
    --max-width: 50%
}

.mxw\(60\%\) {
    --max-width: 60%
}

.mxw\(70\%\) {
    --max-width: 70%
}

.mxw\(80\%\) {
    --max-width: 68%
}

.mxw\(90\%\) {
    --max-width: 90%
}

.mxw\(100\%\) {
    --max-width: 100%
}

.mxw\(768x\) {
    --max-width: 768px
}

.mxw\(1024x\) {
    --max-width: 1024px
}

.mxw\(1268x\) {
    --max-width: 1268px
}

.mxw\(1366x\) {
    --max-width: 1366px
}

.gap\(0\) {
    --grid-gap: 0
}

.gap\(2x\) {
    --grid-gap: 2px
}

.gap\(4x\) {
    --grid-gap: 4px
}

.gap\(8x\) {
    --grid-gap: 8px
}

.gap\(12x\) {
    --grid-gap: 12px
}

.gap\(1\) {
    --grid-gap: 1rem
}

.gap\(2\) {
    --grid-gap: 2rem
}

.gap\(3\) {
    --grid-gap: 3rem
}

.gap\(4\) {
    --grid-gap: 4rem
}

.col\(-1\) {
    grid-column: 1 / -1
}

[class*="cols("] {
    -ms-grid-columns: var(--ms-grid-columns);
    grid-template-columns: var(--grid-template-columns);
}

.cols\(100x\) {
    --grid-template-columns: repeat(auto-fill, minmax(var(--columns-width), 1fr));
    --columns-width: 100px
}

.cols\(200x\) {
    --grid-template-columns: repeat(auto-fill, minmax(var(--columns-width), 1fr));
    --columns-width: 200px;
}

.cols\(300x\) {
    --grid-template-columns: repeat(auto-fill, minmax(var(--columns-width), 1fr));
    --columns-width: 300px
}

.cols\(375x\) {
    --grid-template-columns: repeat(auto-fill, minmax(var(--columns-width), 1fr));
    --columns-width: 300px
}

@media all and (max-width: 1024px) {

    .cols\(1\),
    .cols\(2\),
    .cols\(3\),
    .cols\(4\),
    .cols\(5\),
    .cols\(6\),
    .cols\(7\),
    .cols\(8\),
    .cols\(9\),
    .cols\(10\),
    .cols\(11\),
    .cols\(12\) {
        --ms-grid-columns: 1fr;
        --grid-template-columns: 1fr;
    }

    .cols\(2\).ms\(2\),
    .cols\(3\).ms\(2\),
    .cols\(4\).ms\(2\),
    .cols\(5\).ms\(2\),
    .cols\(6\).ms\(2\),
    .cols\(7\).ms\(2\),
    .cols\(8\).ms\(2\),
    .cols\(9\).ms\(2\),
    .cols\(10\).ms\(2\),
    .cols\(11\).ms\(2\),
    .cols\(12\).ms\(2\) {
        --ms-grid-columns: (1fr)[2];
        --grid-template-columns: repeat(2, 1fr);
    }

    .cols\(2\).ms\(3\),
    .cols\(3\).ms\(3\),
    .cols\(4\).ms\(3\),
    .cols\(5\).ms\(3\),
    .cols\(6\).ms\(3\),
    .cols\(7\).ms\(3\),
    .cols\(8\).ms\(3\),
    .cols\(9\).ms\(3\),
    .cols\(10\).ms\(3\),
    .cols\(11\).ms\(3\),
    .cols\(12\).ms\(3\) {
        --ms-grid-columns: (1fr)[3];
        --grid-template-columns: repeat(3, 1fr);
    }

    .cols\(2\).ms\(4\),
    .cols\(3\).ms\(4\),
    .cols\(4\).ms\(4\),
    .cols\(5\).ms\(4\),
    .cols\(6\).ms\(4\),
    .cols\(7\).ms\(4\),
    .cols\(8\).ms\(4\),
    .cols\(9\).ms\(4\),
    .cols\(10\).ms\(4\),
    .cols\(11\).ms\(4\),
    .cols\(12\).ms\(4\) {
        --ms-grid-columns: (1fr)[4];
        --grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (min-width: 768px) {

    .cols\(2\),
    .cols\(5\),
    .cols\(4\),
    .cols\(6\),
    .cols\(8\),
    .cols\(9\),
    .cols\(10\),
    .cols\(11\),
    .cols\(12\) {
        --ms-grid-columns: (1fr)[2];
        --grid-template-columns: repeat(2, 1fr);
    }

    .cols\(3\) {
        --ms-grid-columns: (1fr)[3];
        --grid-template-columns: repeat(3, 1fr);
    }


    .cols\(2\).size\(1s-1m\),
    .cols\(2\).size\(1s-1l\),
    .cols\(2\).size\(1m-1s\),
    .cols\(2\).size\(1m-1l\),
    .cols\(2\).size\(1l-1s\),
    .cols\(2\).size\(1l-1m\),
    .cols\(3\).size\(1s-1s-1m\),
    .cols\(3\).size\(1s-1s-1l\),
    .cols\(3\).size\(1s-1m-1s\),
    .cols\(3\).size\(1s-1m-1m\),
    .cols\(3\).size\(1s-1m-1l\),
    .cols\(3\).size\(1s-1l-1s\),
    .cols\(3\).size\(1s-1l-1m\),
    .cols\(3\).size\(1s-1l-1l\),
    .cols\(3\).size\(1m-1s-1s\),
    .cols\(3\).size\(1m-1s-1m\),
    .cols\(3\).size\(1m-1s-1l\),
    .cols\(3\).size\(1m-1m-1s\),
    .cols\(3\).size\(1m-1m-1l\),
    .cols\(3\).size\(1m-1l-1s\),
    .cols\(3\).size\(1m-1l-1m\),
    .cols\(3\).size\(1m-1l-1l\),
    .cols\(3\).size\(1l-1s-1s\),
    .cols\(3\).size\(1l-1s-1m\),
    .cols\(3\).size\(1l-1s-1l\),
    .cols\(3\).size\(1l-1m-1s\),
    .cols\(3\).size\(1l-1m-1m\),
    .cols\(3\).size\(1l-1m-1l\),
    .cols\(3\).size\(1l-1l-1s\),
    .cols\(3\).size\(1l-1l-1m\),
    .cols\(4\).size\(1s-1s-1s-1m\),
    .cols\(4\).size\(1s-1s-1s-1l\),
    .cols\(4\).size\(1s-1s-1m-1s\),
    .cols\(4\).size\(1s-1s-1m-1m\),
    .cols\(4\).size\(1s-1s-1m-1l\),
    .cols\(4\).size\(1s-1s-1l-1s\),
    .cols\(4\).size\(1s-1s-1l-1m\),
    .cols\(4\).size\(1s-1s-1l-1l\),
    .cols\(4\).size\(1s-1m-1s-1s\),
    .cols\(4\).size\(1s-1m-1s-1m\),
    .cols\(4\).size\(1s-1m-1s-1l\),
    .cols\(4\).size\(1s-1m-1m-1s\),
    .cols\(4\).size\(1s-1m-1m-1m\),
    .cols\(4\).size\(1s-1m-1m-1l\),
    .cols\(4\).size\(1s-1m-1l-1s\),
    .cols\(4\).size\(1s-1m-1l-1m\),
    .cols\(4\).size\(1s-1m-1l-1l\),
    .cols\(4\).size\(1s-1l-1s-1s\),
    .cols\(4\).size\(1s-1l-1s-1m\),
    .cols\(4\).size\(1s-1l-1s-1l\),
    .cols\(4\).size\(1s-1l-1m-1s\),
    .cols\(4\).size\(1s-1l-1m-1m\),
    .cols\(4\).size\(1s-1l-1m-1l\),
    .cols\(4\).size\(1s-1l-1l-1s\),
    .cols\(4\).size\(1s-1l-1l-1m\),
    .cols\(4\).size\(1s-1l-1l-1l\),
    .cols\(4\).size\(1m-1s-1s-1s\),
    .cols\(4\).size\(1m-1s-1s-1m\),
    .cols\(4\).size\(1m-1s-1s-1l\),
    .cols\(4\).size\(1m-1s-1m-1s\),
    .cols\(4\).size\(1m-1s-1m-1m\),
    .cols\(4\).size\(1m-1s-1m-1l\),
    .cols\(4\).size\(1m-1s-1l-1s\),
    .cols\(4\).size\(1m-1s-1l-1m\),
    .cols\(4\).size\(1m-1s-1l-1l\),
    .cols\(4\).size\(1m-1m-1s-1s\),
    .cols\(4\).size\(1m-1m-1s-1m\),
    .cols\(4\).size\(1m-1m-1s-1l\),
    .cols\(4\).size\(1m-1m-1m-1s\),
    .cols\(4\).size\(1m-1m-1m-1l\),
    .cols\(4\).size\(1m-1m-1l-1s\),
    .cols\(4\).size\(1m-1m-1l-1m\),
    .cols\(4\).size\(1m-1m-1l-1l\),
    .cols\(4\).size\(1m-1l-1s-1s\),
    .cols\(4\).size\(1m-1l-1s-1m\),
    .cols\(4\).size\(1m-1l-1s-1l\),
    .cols\(4\).size\(1m-1l-1m-1s\),
    .cols\(4\).size\(1m-1l-1m-1m\),
    .cols\(4\).size\(1m-1l-1m-1l\),
    .cols\(4\).size\(1m-1l-1l-1s\),
    .cols\(4\).size\(1m-1l-1l-1m\),
    .cols\(4\).size\(1m-1l-1l-1l\),
    .cols\(4\).size\(1l-1s-1s-1s\),
    .cols\(4\).size\(1l-1s-1s-1m\),
    .cols\(4\).size\(1l-1s-1s-1l\),
    .cols\(4\).size\(1l-1s-1m-1s\),
    .cols\(4\).size\(1l-1s-1m-1m\),
    .cols\(4\).size\(1l-1s-1m-1l\),
    .cols\(4\).size\(1l-1s-1l-1s\),
    .cols\(4\).size\(1l-1s-1l-1m\),
    .cols\(4\).size\(1l-1s-1l-1l\),
    .cols\(4\).size\(1l-1m-1s-1s\),
    .cols\(4\).size\(1l-1m-1s-1m\),
    .cols\(4\).size\(1l-1m-1s-1l\),
    .cols\(4\).size\(1l-1m-1m-1s\),
    .cols\(4\).size\(1l-1m-1m-1m\),
    .cols\(4\).size\(1l-1m-1m-1l\),
    .cols\(4\).size\(1l-1m-1l-1s\),
    .cols\(4\).size\(1l-1m-1l-1m\),
    .cols\(4\).size\(1l-1m-1l-1l\),
    .cols\(4\).size\(1l-1l-1s-1s\),
    .cols\(4\).size\(1l-1l-1s-1m\),
    .cols\(4\).size\(1l-1l-1s-1l\),
    .cols\(4\).size\(1l-1l-1m-1s\),
    .cols\(4\).size\(1l-1l-1m-1m\),
    .cols\(4\).size\(1l-1l-1m-1l\),
    .cols\(4\).size\(1l-1l-1l-1s\),
    .cols\(4\).size\(1l-1l-1l-1m\) {
        --ms-grid-columns: (1fr)[2];
        --grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 1024px) {

    .cols\(3\),
    .cols\(6\),
    .cols\(12\) {
        --ms-grid-columns: (1fr)[3];
        --grid-template-columns: repeat(3, 1fr);
    }


    .cols\(4\),
    .cols\(8\) {
        --ms-grid-columns: (1fr)[4];
        --grid-template-columns: repeat(4, 1fr);
    }

    .cols\(5\),
    .cols\(9\),
    .cols\(10\),
    .cols\(11\) {
        --ms-grid-columns: (1fr)[5];
        --grid-template-columns: repeat(5, 1fr);
    }

    .cols\(2\).size\(small\,medium\) {
        --grid-template-columns: 1fr 2fr;
    }

    .cols\(2\).size\(small\,large\) {
        --ms-grid-columns: 1fr 3fr;
        --grid-template-columns: 1fr 3fr;
    }

    .cols\(2\).size\(1m-1s\) {
        --ms-grid-columns: 2fr 1fr;
        --grid-template-columns: 2fr 1fr;
    }

    .cols\(2\).size\(1m-1l\) {
        --ms-grid-columns: 2fr 3fr;
        --grid-template-columns: 2fr 3fr;
    }

    .cols\(2\).size\(1l-1s\) {
        --ms-grid-columns: 3fr 1fr;
        --grid-template-columns: 3fr 1fr;
    }

    .cols\(2\).size\(1l-1m\) {
        --ms-grid-columns: 3fr 2fr;
        --grid-template-columns: 3fr 2fr;
    }

    .cols\(3\).size\(1s-1s-1m\) {
        --ms-grid-columns: 1fr 1fr 2fr;
        --grid-template-columns: 1fr 1fr 2fr;
    }

    .cols\(3\).size\(1s-1s-1l\) {
        --ms-grid-columns: 1fr 1fr 3fr;
        --grid-template-columns: 1fr 1fr 3fr;
    }

    .cols\(3\).size\(1s-1m-1s {
        --ms-grid-columns: 1fr 2fr 1fr;
        --grid-template-columns: 1fr 2fr 1fr;
    }

    .cols\(3\).size\(1s-1m-1m\) {
        --ms-grid-columns: 1fr 2fr 2fr;
        --grid-template-columns: 1fr 2fr 2fr;
    }

    .cols\(3\).size\(1s-1m-1l\) {
        --ms-grid-columns: 1fr 2fr 3fr;
        --grid-template-columns: 1fr 2fr 3fr;
    }

    .cols\(3\).size\(1s-1l-1s\) {
        --ms-grid-columns: 1fr 3fr 1fr;
        --grid-template-columns: 1fr 3fr 1fr;
    }

    .cols\(3\).size\(1s-1l-1m\) {
        --ms-grid-columns: 1fr 3fr 2fr;
        --grid-template-columns: 1fr 3fr 2fr;
    }

    .cols\(3\).size\(1s-1l-1l\) {
        --ms-grid-columns: 1fr 3fr 3fr;
        --grid-template-columns: 1fr 3fr 3fr;
    }

    .cols\(3\).size\(1m-1s-1s\) {
        --ms-grid-columns: 2fr 1fr 1fr;
        --grid-template-columns: 2fr 1fr 1fr;
    }

    .cols\(3\).size\(1m-1s-1m\) {
        --ms-grid-columns: 2fr 1fr 2fr;
        --grid-template-columns: 2fr 1fr 2fr;
    }

    .cols\(3\).size\(1m-1s-1l\) {
        --ms-grid-columns: 2fr 1fr 3fr;
        --grid-template-columns: 2fr 1fr 3fr;
    }

    .cols\(3\).size\(1m-1m-1s\) {
        --ms-grid-columns: 2fr 2fr 1fr;
        --grid-template-columns: 2fr 2fr 1fr;
    }

    .cols\(3\).size\(1m-1m-1l\) {
        --ms-grid-columns: 2fr 2fr 3fr;
        --grid-template-columns: 2fr 2fr 3fr;
    }

    .cols\(3\).size\(1m-1l-1s\) {
        --ms-grid-columns: 2fr 3fr 1fr;
        --grid-template-columns: 2fr 3fr 1fr;
    }

    .cols\(3\).size\(1m-1l-1m\) {
        --ms-grid-columns: 2fr 3fr 2fr;
        --grid-template-columns: 2fr 3fr 2fr;
    }

    .cols\(3\).size\(1m-1l-1l\) {
        --ms-grid-columns: 2fr 3fr 3fr;
        --grid-template-columns: 2fr 3fr 3fr;
    }

    .cols\(3\).size\(1l-1s-1s\) {
        --ms-grid-columns: 3fr 1fr 1fr;
        --grid-template-columns: 3fr 1fr 1fr;
    }

    .cols\(3\).size\(1l-1s-1m\) {
        --ms-grid-columns: 3fr 1fr 2fr;
        --grid-template-columns: 3fr 1fr 2fr;
    }

    .cols\(3\).size\(1l-1s-1l\) {
        --ms-grid-columns: 3fr 1fr 3fr;
        --grid-template-columns: 3fr 1fr 3fr;
    }

    .cols\(3\).size\(1l-1m-1s\) {
        --ms-grid-columns: 3fr 2fr 1fr;
        --grid-template-columns: 3fr 2fr 1fr;
    }

    .cols\(3\).size\(1l-1m-1m\) {
        --ms-grid-columns: 3fr 2fr 2fr;
        --grid-template-columns: 3fr 2fr 2fr;
    }

    .cols\(3\).size\(1l-1m-1l {
        --ms-grid-columns: 3fr 2fr 3fr;
        --grid-template-columns: 3fr 2fr 3fr;
    }

    .cols\(3\).size\(1l-1l-1s\) {
        --ms-grid-columns: 3fr 3fr 1fr;
        --grid-template-columns: 3fr 3fr 1fr;
    }

    .cols\(3\).size\(1l-1l-1m\) {
        --ms-grid-columns: 3fr 3fr 2fr;
        --grid-template-columns: 3fr 3fr 2fr;
    }

    .cols\(4\).size\(1s-1s-1s-1m\) {
        --ms-grid-columns: 1fr 1fr 1fr 2fr;
        --grid-template-columns: 1fr 1fr 1fr 2fr;
    }

    .cols\(4\).size\(1s-1s-1s-1l\) {
        --ms-grid-columns: 1fr 1fr 1fr 3fr;
        --grid-template-columns: 1fr 1fr 1fr 3fr;
    }

    .cols\(4\).size\(1s-1s-1m-1s\) {
        --ms-grid-columns: 1fr 1fr 2fr 1fr;
        --grid-template-columns: 1fr 1fr 2fr 1fr;
    }

    .cols\(4\).size\(1s-1s-1m-1m\) {
        --ms-grid-columns: 1fr 1fr 2fr 2fr;
        --grid-template-columns: 1fr 1fr 2fr 2fr;
    }

    .cols\(4\).size\(1s-1s-1m-1l\) {
        --ms-grid-columns: 1fr 1fr 2fr 3fr;
        --grid-template-columns: 1fr 1fr 2fr 3fr;
    }

    .cols\(4\).size\(1s-1s-1l-1s\) {
        --ms-grid-columns: 1fr 1fr 3fr 1fr;
        --grid-template-columns: 1fr 1fr 3fr 1fr;
    }

    .cols\(4\).size\(1s-1s-1l-1m\) {
        --ms-grid-columns: 1fr 1fr 3fr 2fr;
        --grid-template-columns: 1fr 1fr 3fr 2fr;
    }

    .cols\(4\).size\(1s-1s-1l-1l\) {
        --ms-grid-columns: 1fr 1fr 3fr 3fr;
        --grid-template-columns: 1fr 1fr 3fr 3fr;
    }

    .cols\(4\).size\(1s-1m-1s-1s\) {
        --ms-grid-columns: 1fr 2fr 1fr 1fr;
        --grid-template-columns: 1fr 2fr 1fr 1fr;
    }

    .cols\(4\).size\(1s-1m-1s-1m\) {
        --ms-grid-columns: 1fr 2fr 1fr 2fr;
        --grid-template-columns: 1fr 2fr 1fr 2fr;
    }

    .cols\(4\).size\(1s-1m-1s-1l\) {
        --ms-grid-columns: 1fr 2fr 1fr 3fr;
        --grid-template-columns: 1fr 2fr 1fr 3fr;
    }

    .cols\(4\).size\(1s-1m-1m-1s\) {
        --ms-grid-columns: 1fr 2fr 2fr 1fr;
        --grid-template-columns: 1fr 2fr 2fr 1fr;
    }

    .cols\(4\).size\(1s-1m-1m-1m\) {
        --ms-grid-columns: 1fr 2fr 2fr 2fr;
        --grid-template-columns: 1fr 2fr 2fr 2fr;
    }

    .cols\(4\).size\(1s-1m-1m-1l\) {
        --ms-grid-columns: 1fr 2fr 2fr 3fr;
        --grid-template-columns: 1fr 2fr 2fr 3fr;
    }

    .cols\(4\).size\(1s-1m-1l-1s\) {
        --ms-grid-columns: 1fr 2fr 3fr 1fr;
        --grid-template-columns: 1fr 2fr 3fr 1fr;
    }

    .cols\(4\).size\(1s-1m-1l-1m\) {
        --ms-grid-columns: 1fr 2fr 3fr 2fr;
        --grid-template-columns: 1fr 2fr 3fr 2fr;
    }

    .cols\(4\).size\(1s-1m-1l-1l\) {
        --ms-grid-columns: 1fr 2fr 3fr 3fr;
        --grid-template-columns: 1fr 2fr 3fr 3fr;
    }

    .cols\(4\).size\(1s-1l-1s-1s\) {
        --ms-grid-columns: 1fr 3fr 1fr 1fr;
        --grid-template-columns: 1fr 3fr 1fr 1fr;
    }

    .cols\(4\).size\(1s-1l-1s-1m\) {
        --ms-grid-columns: 1fr 3fr 1fr 2fr;
        --grid-template-columns: 1fr 3fr 1fr 2fr;
    }

    .cols\(4\).size\(1s-1l-1s-1l\) {
        --ms-grid-columns: 1fr 3fr 1fr 3fr;
        --grid-template-columns: 1fr 3fr 1fr 3fr;
    }

    .cols\(4\).size\(1s-1l-1m-1s\) {
        --ms-grid-columns: 1fr 3fr 2fr 1fr;
        --grid-template-columns: 1fr 3fr 2fr 1fr;
    }

    .cols\(4\).size\(1s-1l-1m-1m\) {
        --ms-grid-columns: 1fr 3fr 2fr 2fr;
        --grid-template-columns: 1fr 3fr 2fr 2fr;
    }

    .cols\(4\).size\(1s-1l-1m-1l\) {
        --ms-grid-columns: 1fr 3fr 2fr 3fr;
        --grid-template-columns: 1fr 3fr 2fr 3fr;
    }

    .cols\(4\).size\(1s-1l-1l-1s\) {
        --ms-grid-columns: 1fr 3fr 3fr 1fr;
        --grid-template-columns: 1fr 3fr 3fr 1fr;
    }

    .cols\(4\).size\(1s-1l-1l-1m\) {
        --ms-grid-columns: 1fr 3fr 3fr 2fr;
        --grid-template-columns: 1fr 3fr 3fr 2fr;
    }

    .cols\(4\).size\(1s-1l-1l-1l\) {
        --ms-grid-columns: 1fr 3fr 3fr 3fr;
        --grid-template-columns: 1fr 3fr 3fr 3fr;
    }

    .cols\(4\).size\(1m-1s-1s-1s\) {
        --ms-grid-columns: 2fr 1fr 1fr 1fr;
        --grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .cols\(4\).size\(1m-1s-1s-1m\) {
        --ms-grid-columns: 2fr 1fr 1fr 2fr;
        --grid-template-columns: 2fr 1fr 1fr 2fr;
    }

    .cols\(4\).size\(1m-1s-1s-1l\) {
        --ms-grid-columns: 2fr 1fr 1fr 3fr;
        --grid-template-columns: 2fr 1fr 1fr 3fr;
    }

    .cols\(4\).size\(1m-1s-1m-1s\) {
        --ms-grid-columns: 2fr 1fr 2fr 1fr;
        --grid-template-columns: 2fr 1fr 2fr 1fr;
    }

    .cols\(4\).size\(1m-1s-1m-1m\) {
        --ms-grid-columns: 2fr 1fr 2fr 2fr;
        --grid-template-columns: 2fr 1fr 2fr 2fr;
    }

    .cols\(4\).size\(1m-1s-1m-1l\) {
        --ms-grid-columns: 2fr 1fr 2fr 3fr;
        --grid-template-columns: 2fr 1fr 2fr 3fr;
    }

    .cols\(4\).size\(1m-1s-1l-1s\) {
        --ms-grid-columns: 2fr 1fr 3fr 1fr;
        --grid-template-columns: 2fr 1fr 3fr 1fr;
    }

    .cols\(4\).size\(1m-1s-1l-1m\) {
        --ms-grid-columns: 2fr 1fr 3fr 2fr;
        --grid-template-columns: 2fr 1fr 3fr 2fr;
    }

    .cols\(4\).size\(1m-1s-1l-1l\) {
        --ms-grid-columns: 2fr 1fr 3fr 3fr;
        --grid-template-columns: 2fr 1fr 3fr 3fr;
    }

    .cols\(4\).size\(1m-1m-1s-1s\) {
        --ms-grid-columns: 2fr 2fr 1fr 1fr;
        --grid-template-columns: 2fr 2fr 1fr 1fr;
    }

    .cols\(4\).size\(1m-1m-1s-1m\) {
        --ms-grid-columns: 2fr 2fr 1fr 2fr;
        --grid-template-columns: 2fr 2fr 1fr 2fr;
    }

    .cols\(4\).size\(1m-1m-1s-1l\) {
        --ms-grid-columns: 2fr 2fr 1fr 3fr;
        --grid-template-columns: 2fr 2fr 1fr 3fr;
    }

    .cols\(4\).size\(1m-1m-1m-1\) {
        --ms-grid-columns: 2fr 2fr 2fr 1fr;
        --grid-template-columns: 2fr 2fr 2fr 1fr;
    }

    .cols\(4\).size\(1m-1m-1m-1l\) {
        --ms-grid-columns: 2fr 2fr 2fr 3fr;
        --grid-template-columns: 2fr 2fr 2fr 3fr;
    }

    .cols\(4\).size\(1m-1m-1l-1s\) {
        --ms-grid-columns: 2fr 2fr 3fr 1fr;
        --grid-template-columns: 2fr 2fr 3fr 1fr;
    }

    .cols\(4\).size\(1m-1m-1l-1m\) {
        --ms-grid-columns: 2fr 2fr 3fr 2fr;
        --grid-template-columns: 2fr 2fr 3fr 2fr;
    }

    .cols\(4\).size\(1m-1m-1l-1l\) {
        --ms-grid-columns: 2fr 2fr 3fr 3fr;
        --grid-template-columns: 2fr 2fr 3fr 3fr;
    }

    .cols\(4\).size\(1m-1l-1s-1s\) {
        --ms-grid-columns: 2fr 3fr 1fr 1fr;
        --grid-template-columns: 2fr 3fr 1fr 1fr;
    }

    .cols\(4\).size\(1m-1l-1s-1m\) {
        --ms-grid-columns: 2fr 3fr 1fr 2fr;
        --grid-template-columns: 2fr 3fr 1fr 2fr;
    }

    .cols\(4\).size\(1m-1l-1s-1l\) {
        --ms-grid-columns: 2fr 3fr 1fr 3fr;
        --grid-template-columns: 2fr 3fr 1fr 3fr;
    }

    .cols\(4\).size\(1m-1l-1m-1s\) {
        --ms-grid-columns: 2fr 3fr 2fr 1fr;
        --grid-template-columns: 2fr 3fr 2fr 1fr;
    }

    .cols\(4\).size\(1m-1l-1m-1m\) {
        --ms-grid-columns: 2fr 3fr 2fr 2fr;
        --grid-template-columns: 2fr 3fr 2fr 2fr;
    }

    .cols\(4\).size\(1m-1l-1m-1l\) {
        --ms-grid-columns: 2fr 3fr 2fr 3fr;
        --grid-template-columns: 2fr 3fr 2fr 3fr;
    }

    .cols\(4\).size\(1m-1l-1l-1s\) {
        --ms-grid-columns: 2fr 3fr 3fr 1fr;
        --grid-template-columns: 2fr 3fr 3fr 1fr;
    }

    .cols\(4\).size\(1m-1l-1l-1m\) {
        --ms-grid-columns: 2fr 3fr 3fr 2fr;
        --grid-template-columns: 2fr 3fr 3fr 2fr;
    }

    .cols\(4\).size\(1m-1l-1l-1l\) {
        --ms-grid-columns: 2fr 3fr 3fr 3fr;
        --grid-template-columns: 2fr 3fr 3fr 3fr;
    }

    .cols\(4\).size\(1l-1s-1s-1s\) {
        --ms-grid-columns: 3fr 1fr 1fr 1fr;
        --grid-template-columns: 3fr 1fr 1fr 1fr;
    }

    .cols\(4\).size\(1l-1s-1s-1m\) {
        --ms-grid-columns: 3fr 1fr 1fr 2fr;
        --grid-template-columns: 3fr 1fr 1fr 2fr;
    }

    .cols\(4\).size\(1l-1s-1s-1l\) {
        --ms-grid-columns: 3fr 1fr 1fr 3fr;
        --grid-template-columns: 3fr 1fr 1fr 3fr;
    }

    .cols\(4\).size\(1l-1s-1m-1s\) {
        --ms-grid-columns: 3fr 1fr 2fr 1fr;
        --grid-template-columns: 3fr 1fr 2fr 1fr;
    }

    .cols\(4\).size\(1l-1s-1m-1m\) {
        --ms-grid-columns: 3fr 1fr 2fr 2fr;
        --grid-template-columns: 3fr 1fr 2fr 2fr;
    }

    .cols\(4\).size\(1l-1s-1m-1l\) {
        --ms-grid-columns: 3fr 1fr 2fr 3fr;
        --grid-template-columns: 3fr 1fr 2fr 3fr;
    }

    .cols\(4\).size\(1l-1s-1l-1s\) {
        --ms-grid-columns: 3fr 1fr 3fr 1fr;
        --grid-template-columns: 3fr 1fr 3fr 1fr;
    }

    .cols\(4\).size\(1l-1s-1l-1m\) {
        --ms-grid-columns: 3fr 1fr 3fr 2fr;
        --grid-template-columns: 3fr 1fr 3fr 2fr;
    }

    .cols\(4\).size\(1l-1s-1l-1l\) {
        --ms-grid-columns: 3fr 1fr 3fr 3fr;
        --grid-template-columns: 3fr 1fr 3fr 3fr;
    }

    .cols\(4\).size\(1l-1m-1s-1s\) {
        --ms-grid-columns: 3fr 2fr 1fr 1fr;
        --grid-template-columns: 3fr 2fr 1fr 1fr;
    }

    .cols\(4\).size\(1l-1m-1s-1m\) {
        --ms-grid-columns: 3fr 2fr 1fr 2fr;
        --grid-template-columns: 3fr 2fr 1fr 2fr;
    }

    .cols\(4\).size\(1l-1m-1s-1l\) {
        --ms-grid-columns: 3fr 2fr 1fr 3fr;
        --grid-template-columns: 3fr 2fr 1fr 3fr;
    }

    .cols\(4\).size\(1l-1m-1m-1s\) {
        --ms-grid-columns: 3fr 2fr 2fr 1fr;
        --grid-template-columns: 3fr 2fr 2fr 1fr;
    }

    .cols\(4\).size\(1l-1m-1m-1m\) {
        --ms-grid-columns: 3fr 2fr 2fr 2fr;
        --grid-template-columns: 3fr 2fr 2fr 2fr;
    }

    .cols\(4\).size\(1l-1m-1m-1l\) {
        --ms-grid-columns: 3fr 2fr 2fr 3fr;
        --grid-template-columns: 3fr 2fr 2fr 3fr;
    }

    .cols\(4\).size\(1l-1m-1l-1s\) {
        --ms-grid-columns: 3fr 2fr 3fr 1fr;
        --grid-template-columns: 3fr 2fr 3fr 1fr;
    }

    .cols\(4\).size\(1l-1m-1l-1m\) {
        --ms-grid-columns: 3fr 2fr 3fr 2fr;
        --grid-template-columns: 3fr 2fr 3fr 2fr;
    }

    .cols\(4\).size\(1l-1m-1l-1l\) {
        --ms-grid-columns: 3fr 2fr 3fr 3fr;
        --grid-template-columns: 3fr 2fr 3fr 3fr;
    }

    .cols\(4\).size\(1l-1l-1s-1s\) {
        --ms-grid-columns: 3fr 3fr 1fr 1fr;
        --grid-template-columns: 3fr 3fr 1fr 1fr;
    }

    .cols\(4\).size\(1l-1l-1s-1m\) {
        --ms-grid-columns: 3fr 3fr 1fr 2fr;
        --grid-template-columns: 3fr 3fr 1fr 2fr;
    }

    .cols\(4\).size\(1l-1l-1s-1l\) {
        --ms-grid-columns: 3fr 3fr 1fr 3fr;
        --grid-template-columns: 3fr 3fr 1fr 3fr;
    }

    .cols\(4\).size\(1l-1l-1m-1s\) {
        --ms-grid-columns: 3fr 3fr 2fr 1fr;
        --grid-template-columns: 3fr 3fr 2fr 1fr;
    }

    .cols\(4\).size\(1l-1l-1m-1m\) {
        --ms-grid-columns: 3fr 3fr 2fr 2fr;
        --grid-template-columns: 3fr 3fr 2fr 2fr;
    }

    .cols\(4\).size\(1l-1l-1m-1l\) {
        --ms-grid-columns: 3fr 3fr 2fr 3fr;
        --grid-template-columns: 3fr 3fr 2fr 3fr;
    }

    .cols\(4\).size\(1l-1l-1l-1s\) {
        --ms-grid-columns: 3fr 3fr 1fr 1fr;
        --grid-template-columns: 3fr 3fr 1fr 1fr;
    }

    .cols\(4\).size\(1l-1l-1l-1m\) {
        --ms-grid-columns: 3fr 3fr 3fr 2fr;
        --grid-template-columns: 3fr 3fr 3fr 2fr;
    }
}

@media all and (min-width: 1268px) {

    .cols\(6\),
    .cols\(12\) {
        --ms-grid-columns: (1fr)[6];
        --grid-template-columns: repeat(6, 1fr);
    }

    .cols\(7\) {
        --ms-grid-columns: (1fr)[7];
        --grid-template-columns: repeat(7, 1fr);

    }

    .cols\(8\) {
        --ms-grid-columns: (1fr)[8];
        --grid-template-columns: repeat(8, 1fr);
    }

    .cols\(9\) {
        --ms-grid-columns: (1fr)[9];
        --grid-template-columns: repeat(9, 1fr);
    }

    .cols\(10\) {
        --ms-grid-columns: (1fr)[10];
        --grid-template-columns: repeat(10, 1fr);
    }

    .cols\(11\) {
        --ms-grid-columns: (1fr)[11];
        --grid-template-columns: repeat(11, 1fr);
    }
}

@media all and (min-width: 1366px) {
    .cols\(12\) {
        --ms-grid-columns: (1fr)[12];
        --grid-template-columns: repeat(12, 1fr);
    }

}

@media all and (min-width: 768px) and (max-width:1024px) {

    .cols\(5\) > div:last-child {
        grid-column: 1 / -1 !important
    }

    .cols\(9\) > div:last-child {
        grid-column: 1 / -1 !important
    }

    .cols\(11\) > div:last-child {
        grid-column: 1 / -1 !important
    }
}

@media all and (min-width: 1024px) and (max-width:1268px) {

    .cols\(9\) > div:last-child {
        -ms-grid-column-span: 2 !important;
        grid-column: span 2 !important
    }

    .cols\(11\) > div:last-child {
        grid-column: 1 / -1 !important
    }
}