body {
    margin: 0;
}

.navbar {
    width: 100%;
    background: #000000;
}

.navbar :is(a, label) {
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
}

.navbar__menu {
    list-style: none;
    margin: 0 auto;
    padding: 1rem 0;
    width: 95%;
    max-width: 1268px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto 1fr auto auto;
}

.navbar__item:nth-child(2),
.navbar__item:nth-child(3),
.navbar__item:nth-child(4) {
    display: none;
    visibility: collapse;
}

.navbar__item:nth-child(1) {
    order: 1
}

.navbar__item:nth-child(6) {
    order: 2
}

.navbar__item:nth-child(5) {
    order: 3
}

.navbar__item:nth-child(7) {
    order: 4
}

.navbar__item:nth-child(8) {
    order: 5
}

@media(min-width: 1024px) {

    .navbar__menu {
        grid-template-columns: 72px 72px 72px auto 72px 72px 72px;
    }

    .navbar__item:nth-child(1) {
        display: none;
        visibility: collapse;
    }

    .navbar__item:nth-child(2) {
        order: 1
    }

    .navbar__item:nth-child(3) {
        order: 2
    }

    .navbar__item:nth-child(4) {
        order: 3
    }

    .navbar__item:nth-child(5) {
        order: 4;
    }

    .navbar__item:nth-child(6) {
        order: 5
    }

    .navbar__item:nth-child(7) {
        order: 6
    }

    .navbar__item:nth-child(8) {
        order: 7
    }

    .navbar__item:nth-child(2),
    .navbar__item:nth-child(3),
    .navbar__item:nth-child(4) {
        display: block;
        visibility: visible;
    }
}

/* drawer
============================*/
.drawer {
    position: fixed;
    width: 100%;
    top: 0%;
    max-width: 768px;
    height: 100%;
    min-height: 100vh;
    z-index: 5000;
    border: 1px solid #bfc5ff;
    background:  #dcdfff;
}

.drawer.left {
    left: -101%;
    transition: left 0.6s ease-out;
}

.drawer.right {
    right: -101%;
    transition: right 0.6s ease-out;
}

.drawer_modal {
    position: absolute;
    left: 50%;
    top: -101%;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease-out;
    height: 10vh;
    min-width: 80vw;
    margin: auto;
    z-index: 5000;
    border: 1px solid #bfc5ff;
    background: #dcdfff;
}

#drawer__search:checked~#drawer__search-o {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease-out;
}

#drawer__menu:checked~#drawer__menu-o {
    left: 0%;
    transition: left 0.4s ease;
}

#drawer__cart:checked~#drawer__cart-o {
    right: 0%;
    transition: right 0.4s ease;
}

#drawer__search:checked~#drawer__search-mask,
#drawer__menu:checked~#drawer__menu-mask,
#drawer__cart:checked~#drawer__cart-mask,
#drawer__customer:checked~#drawer__customer-mask {
    visibility: visible;
    opacity: 0.8;
    transition: visibility 0s linear 300ms, opacity 600ms;
    backface-visibility: hidden;
}

.drawer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 95%;
    margin: auto;
    padding:1rem 0;
}

.drawer__header .drawer__toggle {
    padding: 0.5rem;
    border: 1px solid #8c97ff;
    background: #bfc5ff;
    cursor: pointer;
}

.backdrop {
    position: absolute;
    top: 0;
    background: black;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 1990;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 600ms;
    backface-visibility: hidden;
}