body {
    margin: 0;
}

[type="button"], button {
    background: transparent;
    border:0;
    padding: 0.6rem 0;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;

}

.navbar label {
    color: aliceblue;
    cursor: pointer;
    padding: 0.6rem;
}

.navbar {
    width: 100%;
    background: #000000;
}

.navbar__menu {
    list-style: none;
    margin: 0 auto;
    padding: 1rem 0;
    width: 95%;
    max-width: 1268px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto 1fr auto auto;
}

.navbar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar__item:is(:nth-child(2),:nth-child(3),:nth-child(4)) {
    display: none;
    visibility: collapse;
}

.navbar__item:nth-child(1) {
    order: 1
}

.navbar__item:nth-child(6) {
    order: 2
}

.navbar__item:nth-child(5) {
    order: 3
}

.navbar__item:nth-child(7) {
    order: 4
}

.navbar__item:nth-child(8) {
    order: 5
}

@media(min-width: 1024px) {

    .navbar__menu {
        grid-template-columns: 72px 72px 72px auto 72px 72px 72px;
    }

    .navbar__item:nth-child(1) {
        display: none;
        visibility: collapse;
    }

    .navbar__item:nth-child(2) {
        order: 1
    }

    .navbar__item:nth-child(3) {
        order: 2
    }

    .navbar__item:nth-child(4) {
        order: 3
    }

    .navbar__item:nth-child(5) {
        order: 4;
    }

    .navbar__item:nth-child(6) {
        order: 5
    }

    .navbar__item:nth-child(7) {
        order: 6
    }

    .navbar__item:nth-child(8) {
        order: 7
    }

    .navbar__item:is(:nth-child(2),:nth-child(3),:nth-child(4)) {
        display: block;
        visibility: visible;
    }
}

/* drawer
============================*/
.drawer {
    position: fixed;
    width: 100%;
    top: 0%;
    max-width: 768px;
    height: 100%;
    min-height: 100vh;
    z-index: 5000;
    border: 1px solid #a9a9a9;
    background:  #f2f2f2;
}

.drawer.left {
    left: -101%;
    transition: left 0.6s ease-out;
}

.drawer.right {
    right: -101%;
    transition: right 0.6s ease-out;
}

.drawer_modal {
    position: absolute;
    left: 50%;
    top: -101%;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease-out;
    height: 10vh;
    height: 10vh;
    min-width: 80vw;
    margin: auto;
    z-index: 5000;
    border: 1px solid #a9a9a9;
    background: #f2f2f2;
}


#drawer__search:checked~#drawer__search-o {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.6s ease;
}

#drawer__menu:checked~#drawer__menu-o {
    left: 0%;
    transition: left 0.4s ease;
}

#drawer__cart:checked~#drawer__cart-o {
    right: 0%;
    transition: right 0.4s ease;
}


.drawer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 95%;
    margin: auto;
    padding:1rem 0;
    border-bottom: 1px solid rgba(138, 138, 138, 0.619);
}

.drawer__header .drawer__toggle {
    display: grid;
    place-items: center;
    padding: 1rem;
    border: 1px solid #c1c1c1;
    background: #f2f2f2;
    cursor: pointer;
    border-radius: 50%;
}

.drawer.left > .drawer__header > .drawer__toggle {
    margin-left: auto;
}

.backdrop {
    position: absolute;
    top: 0%;
    left: 0%;
    background: black;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 1990;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 600ms;
    backface-visibility: hidden;
}

#drawer__search:checked~#drawer__search-mask,
#drawer__menu:checked~#drawer__menu-mask,
#drawer__cart:checked~#drawer__cart-mask,
#drawer__customer:checked~#drawer__customer-mask {
    visibility: visible;
    opacity: 0.8;
    transition: visibility 0s linear 300ms, opacity 600ms;
    backface-visibility: hidden;
}







/*
 CSS for the main interaction
*/
/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input#Catties:checked ~ .tab-panels > #menu1_conent,
  .tabset > input#Doggies:checked ~ .tab-panels > #menu2_conent,
  .tabset > input#Froggies:checked ~ .tab-panels > #menu3_conent {
    display: block;
  }
  
  /*
   Styling
  */

  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #06c;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #06c;
  }
  
.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }

  